.carousel-item img {
    height: 50vh; 
    
}

article{
    background: #ecceab;
    padding: 10px;
}

aside{
    background: rgb(141, 118, 75);
}

main {
    background-color: #000033; /* Azul oscuro */
    color: #e0e0e0; /* Color de texto más claro */
    padding: 20px; /* Espacio alrededor del contenido */
    border-radius: 8px; /* Borde redondeado opcional */
}